# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all variable files with actual secrets/values
*.tfvars
*.tfvars.json
*.auto.tfvars
*.auto.tfvars.json

# Allow example tfvars files
!*.tfvars.example
!*.auto.tfvars.example

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration files
.terraformrc
terraform.rc

# Credentials
*.json
!package.json
!tsconfig.json
